body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;

}

@import "_variables.scss";


nav {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  background-color: white;
  box-shadow: 1px 1px 1px $darkgray;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  align-items: center;
  margin-bottom: 1rem;
  > .fab {
    color: $red;
    font-size: 2rem;
  }
  > .fa-solid {
    order: 3;
    font-size: 2rem;
    }
  
  
  > .strona {
    background-color: black;
    color: white;
    border-radius: 1.5625rem;
    padding: 0.5rem;
  }
  > .search {
    width: 80%;
    height: 1.5rem;
    background-color: lightgrey;
    border-radius: 1.5625rem;
    padding: 0.5rem;
  }
  > .notif {
    order: 1;
    position: relative;
  }
}

.cookies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-right: 25rem;
  margin-left: 25rem;
  margin-top: 1rem;
  border: 1px solid $darkgray;
  border-radius: 1.5625rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  align-items: center;
  > .text {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 60%;
    > a {
      text-decoration: none;
      color: black;
      font-weight: bold;
    }
  }
  > .accept {
    background-color: lightgrey;
    height: fit-content;
    width: fit-content;
    padding: 0.3rem;
    border-radius: 1.5625rem;
    font-weight: bold;
  }
  > .reject {
    background-color: lightgrey;
    height: fit-content;
    width: fit-content;
    padding: 0.3rem;
    border-radius: 1.5625rem;
    font-weight: bold;
  }
  > .pick {
    background-color: lightgrey;
    height: fit-content;
    width: fit-content;
    padding: 0.3rem;
    border-radius: 1.5625rem;
    font-weight: bold;
  }
}


.sidebar {
  position: absolute;
  right: 0;
  top: 50%;
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  > .fa-solid {
    border: 1px solid $darkgray;
    border-radius: 1.5625rem;
    margin-bottom: 1rem;
    text-align: center;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    box-shadow: 1px 1px 1px $darkgray;
  }
}
.content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5rem;
  padding-bottom: 5rem;
  
  
  .column {
      display: flex;
      gap: 1rem;
      flex-direction: column;
    > .pic {
      background-color: $pic-background;
      border-radius: 1.5625rem;
      
    }
    &:first-of-type {
      > .pic {
        &:first-of-type { height: 14rem; }
        &:nth-of-type(2) { height: 20rem; }
        &:nth-of-type(3) { height: 23rem; }
        &:nth-of-type(4) { height: 17rem; }
        &:nth-of-type(5) { height: 19rem; }
        &:nth-of-type(6) { height: 16rem; }
      }
    }
    &:nth-of-type(2) {
      > .pic {
        &:first-of-type { height: 18rem; }
        &:nth-of-type(2) { height: 20rem; }
        &:nth-of-type(3) { height: 18rem; }
        &:nth-of-type(4) { height: 19rem; }
        &:nth-of-type(5) { height: 16rem; }
        &:nth-of-type(6) { height: 20rem; }
      }
    }
    &:nth-of-type(3) {
      > .pic {
        &:first-of-type { height: 17rem; }
        &:nth-of-type(2) { height: 23rem; }
        &:nth-of-type(3) { height: 16rem; }
        &:nth-of-type(4) { height: 18rem; }
        &:nth-of-type(5) { height: 14rem; }
        &:nth-of-type(6) { height: 20rem; }
      }
    }
    &:nth-of-type(4) {
      > .pic {
        &:first-of-type { height: 19rem; }
        &:nth-of-type(2) { height: 16rem; }
        &:nth-of-type(3) { height: 17rem; }
        &:nth-of-type(4) { height: 19rem; }
        &:nth-of-type(5) { height: 16rem; }
        &:nth-of-type(6) { height: 17rem; }
      }
    }
    &:nth-of-type(5) {
      > .pic {
        &:first-of-type { height: 17rem; }
        &:nth-of-type(2) { height: 19rem; }
        &:nth-of-type(3) { height: 18rem; }
        &:nth-of-type(4) { height: 14rem; }
        &:nth-of-type(5) { height: 15rem; }
        &:nth-of-type(6) { height: 17rem; }
      }
    }
    &:nth-of-type(6) {
      > .pic {
        &:first-of-type { height: 15rem; }
        &:nth-of-type(2) { height: 17rem; }
        &:nth-of-type(3) { height: 19rem; }
        &:nth-of-type(4) { height: 14rem; }
        &:nth-of-type(5) { height: 20rem; }
        &:nth-of-type(6) { height: 18rem; }
      }
    }
  }

}