$font: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, Segoe UI Symbol;
$black-diff: #191919;
$body-bg-color: #edf5ff;
$body-box-bg-color: #e8f2ff;
$desc-color: #73879e;
$hover-button-bg: #e3f0ff;
$hover-tile-bg-and-button-bg: #1876d1;
$tile-button-border: #c7e0ff;