* {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    letter-spacing: 0.8px;
  }
  
  header {
    color: white;
    background-image: url('foggy.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 20rem;
  }

  .header {
    font-size: 2rem;
    position: absolute;
    top: 0%;
    left: 0%;
    padding: 0.5rem;
  }

  .nav {
    background-color: #00000061;
    padding-bottom: 2rem;
    & .nav-items {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 1rem;
      }
  }
 
  
  .box {
    text-align: center;
    padding-top: 5rem;
    .title {
        font-size: 2rem;
        font-weight: bold;
        padding-bottom: 2rem;
    }
    .description {
        font-size: 1.25rem;
  }
}

section {
    padding-top: 1rem;
    padding-left: 20rem;
    padding-right: 20rem;
}

.items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.items>* {
    flex: 1 1 25%;
    margin: 1rem;
}

.item {
    box-shadow: 5px 5px 5px #00000061;
    border: 3px solid #00000061;
}

.image {
    background-color:#8e9074;
    height: 10rem;
    width:inherit;
    .date {
        position: sticky;
        top: 100%;
        text-align: right;
        color: white;
        font-size: 0.75rem;
        padding: 0.25rem;
    }
}

.title {
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    margin-top: 1rem;
    margin-right: 1rem;
    font-weight: bold;
    font-size: 1.25rem;
}

.description {
    margin-left: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
}